**/*.pyc
build/
__pycache__

# Developer only - contains upload scripts for Pypi
gitignore-tools/
gitdiff.sh

# Distribution / packaging 
.Python build/ 
dist/ 
downloads/ 
lib/ 
lib64/ 
wheels/ 
*.egg-info/ 

# Log files
*.log

# Unit test / coverage reports 
.cache 
.pytest_cache/ 

# PyBuilder
target/


# Environment
.env
.venv
env/
venv/
ENV/

# If you are using PyCharm # 
.idea/
.idea/**/workspace.xml 
.idea/**/tasks.xml 
.idea/dictionaries 
.idea/**/dataSources/ 
.idea/**/dataSources.ids 
.idea/**/dataSources.xml 
.idea/**/dataSources.local.xml 
.idea/**/sqlDataSources.xml 
.idea/**/dynamic.xml 
.idea/**/uiDesigner.xml 
.idea/**/gradle.xml 
.idea/**/libraries 
*.iws /out/ 

